*{
    padding: 0;
    margin: 0%;
    display: flex;
}
.main{
flex-wrap: wrap;
flex-grow: var(1);
flex-shrink: initial;
}
.navbar{
    flex-wrap: wrap;
    flex-shrink: initial;
    -ms-flex-order: initial;
    margin: 0%;
}
.logo{
    flex-grow: var(2);
    flex-shrink: var(1);
    flex-flow: row;
    font-size: 70px;
}
.menu{
    width: 400px;
    flex-direction: row;
    flex-wrap: initial;
}
ul{
    display: flex;
    align-items: center;
    float: left;
}
ul li{
    margin: 40px;
    list-style: none;
    margin-top: 30px;
    font-size: 15px;
}
ul li a{
    color: white;
    text-decoration: none;
}

