*{
    padding: 0;
    margin: 0%;
    display: flex;
}
.main{
width: 400px;
background-position: center;
background-size: cover;
background-color: black;
height: 50px;
float: left;
}
.navbar{
   width: 1000px;
    height: 75px;
    margin: auto;
}
.logo{
    padding: inline 4px; ;
   border: solid;
    width: 75px;
    font-size: 70px;
    flex: auto;
}
.menu{
    width: 400px;
    margin-top: 0%;
   height: 75px;
}
ul{
    display: flex;
    align-items: center;
    float: left;
}
ul li{
    margin: 40px;
    list-style: none;
    margin-top: 30px;
    font-size: 15px;
}
ul li a{
    color: white;
    text-decoration: none;
}

